//first
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

$primary-color: #c88be9;
$secondary-color: #502694;
$third-color: #5d2fa8;

.main-front {
  //  padding: 1rem;
   width: 100%;
   position: relative;
   height: 85vh;
   img {
     padding-top: 2rem;
     height: 75vh;
     width: 60%;
     margin: 0 20%;
   }
   h2 {
     padding-left: 5rem;
     width: 100%;
     text-align: center;
     position: absolute;
     top: 9rem;
     font-size: 6rem;
     font-family: 'Caveat';
    
     
   }
   

 }
 .features  {

  display: none;
  width: 100%;
  min-height: 40vh;
  background: $secondary-color;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  
  
  .feature {
   
    background: rgb(220,219,232);
    background: linear-gradient(90deg, rgba(220,219,232,1) 0%, rgba(173,129,238,1) 0%, rgba(84,115,235,1) 0%, rgba(109,0,242,1) 100%, rgba(113,27,241,1) 100%);
    padding: 2rem;
    margin: 0 1rem;
    min-width: 15%;
    border: 2px solid #fff;
    border-radius: 10px;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    
    i {
      font-size: 3rem;
      color: #fff;
      margin: 1rem 0;
    }
    h3 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

 }
 .heading-home {
   display: none;
 }

 //main login

 .main-login {

   padding-top: 3rem;
   width: 100%;
   height: 85vh;

  h2 {
    font-family: 'Caveat';
    padding-top: 1.2rem;
    text-align:  center;
    font-size: 2rem;
    height: 8vh;
    background: $secondary-color;
    color: white;

  }

 }

 .login {
   
   display: none;
   position: relative;
   width: 40%;
   min-height: 37vh;
   border-radius: 5px;
   margin: 0 auto;
   border: 1px solid $secondary-color;
   
 }
 .form-control {

   width: 80%;
   margin: 0.7rem auto;
   input {
     padding: 0.4rem;
     font-size: 1.2rem;
     width: 100%;
     height: 2rem;
     border: 1px solid black;
     border-radius: 5px;
   }
   .type-select {

    padding: 0.2rem;
    font-size: 1.2rem;
    width: 100%;
    height: 2rem;
    border: 1px solid black;
    border-radius: 5px;

   }
   label {
     font-size: 1.2rem;
   }
   .reg-text {
     display: block;
     text-align: center;
   }
 }
 .btn-login {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
   button { 
    width: 100%;
    background: $third-color;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.1rem;
    height: 100%;
   }
   button:hover { 
    
    background: $primary-color;
   }
 }
 .form-check {
  width: 80%;
  margin: 1rem auto;
  
 }

 //register

 .main-register {

  padding-top: 3rem;
  width: 100%;
  min-height: 85vh;

 h2 {
   font-family: 'Caveat';
   padding-top: 1.2rem;
   padding-bottom: 1.2rem;
   text-align:  center;
   font-size: 2rem;
   min-height: 8vh;
   background: $secondary-color;
   color: white;

 }

}

.register {

  opacity: 0;
  position: relative;
  width: 40%;
  min-height: 0;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 1rem;
  border: 1px solid $secondary-color;
  
}
.reg-error {
  background: crimson;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: white;
  border-bottom: 1px solid #fff;
  width: 40%;
  margin: 0.5rem auto;
  border-radius: 5px;
}
.search-item {
  border: 1px solid;
  height: 2rem;
  padding: 0.5rem;
  width: 80%;
  margin: 0.6rem auto;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  justify-content: space-between;

  button {
    border: none;
    background: crimson;
    color: white;
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 5px;
    a {
      text-decoration: none;
      color: white;
    }
  }
 
}
.shopping-list {
  margin: 1rem 0;
  h3 {
    text-align: center;
  }
 
}
.Items-list{
  margin-top: 0.8rem;
  width: 100%;
  li {
    
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    margin-top: 0.6rem;
    border: 1px solid;
    padding: 0.5rem;
    text-align: center;
    list-style-position: inside;
    font-size: 1.4rem;
    p {
      a {
        color: $secondary-color;
      }
    }
    
  
    
  }
  .unfinished {
    text-decoration: line-through;
  }
}
.search-bar {

  margin-bottom: 1.5rem;
}