@import url(https://fonts.googleapis.com/css2?family=Caveat&display=swap);
.main-front {
  width: 100%;
  position: relative;
  height: 85vh;
}
.main-front img {
  padding-top: 2rem;
  height: 75vh;
  width: 60%;
  margin: 0 20%;
}
.main-front h2 {
  padding-left: 5rem;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 9rem;
  font-size: 6rem;
  font-family: "Caveat";
}

.features {
  display: none;
  width: 100%;
  min-height: 40vh;
  background: #502694;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
}
.features .feature {
  background: #dcdbe8;
  background: linear-gradient(90deg, #dcdbe8 0%, #ad81ee 0%, #5473eb 0%, #6d00f2 100%, #711bf1 100%);
  padding: 2rem;
  margin: 0 1rem;
  min-width: 15%;
  border: 2px solid #fff;
  border-radius: 10px;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.features .feature i {
  font-size: 3rem;
  color: #fff;
}
.features .feature h3 {
  font-size: 1.8rem;
}
.features .feature p {
  font-size: 1.2rem;
}

.heading-home {
  display: none;
}

.main-login {
  padding-top: 3rem;
  width: 100%;
  height: 85vh;
}
.main-login h2 {
  font-family: "Caveat";
  padding-top: 1.2rem;
  text-align: center;
  font-size: 2rem;
  height: 8vh;
  background: #502694;
  color: white;
}

.login {
  display: none;
  position: relative;
  width: 40%;
  min-height: 37vh;
  border-radius: 5px;
  margin: 0 auto;
  border: 1px solid #502694;
}

.form-control {
  width: 80%;
  margin: 0.7rem auto;
}
.form-control input {
  padding: 0.4rem;
  font-size: 1.2rem;
  width: 100%;
  height: 2rem;
  border: 1px solid black;
  border-radius: 5px;
}
.form-control .type-select {
  padding: 0.2rem;
  font-size: 1.2rem;
  width: 100%;
  height: 2rem;
  border: 1px solid black;
  border-radius: 5px;
}
.form-control label {
  font-size: 1.2rem;
}
.form-control .reg-text {
  display: block;
  text-align: center;
}

.btn-login {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.btn-login button {
  width: 100%;
  background: #5d2fa8;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
  height: 100%;
}
.btn-login button:hover {
  background: #c88be9;
}

.form-check {
  width: 80%;
  margin: 1rem auto;
}

.main-register {
  padding-top: 3rem;
  width: 100%;
  min-height: 85vh;
}
.main-register h2 {
  font-family: "Caveat";
  padding-top: 1.2rem;
  text-align: center;
  font-size: 2rem;
  height: 8vh;
  background: #502694;
  color: white;
}

.register {
  opacity: 0;
  position: relative;
  width: 40%;
  min-height: 0;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 1rem;
  border: 1px solid #502694;
}

.reg-error {
  background: crimson;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: white;
  border-bottom: 1px solid #fff;
  width: 40%;
  margin: 0.5rem auto;
  border-radius: 5px;
}
